image_height=720
focal_length=1.0
viewport_height=2.0
// might delete before these and keep after this
image_width=1280
output_name=render.ppm
samples_per_pixel=100
image_ratio=1.7778
vfov=90.0
max_depth=50
threads=4